__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.env
.env
venv/
venv3/
.envrc
*.sqlite3
staticfiles/
media/
.DS_Store
.idea/
.vscode/
*.egg-info/
.pytest_cache/
coverage.xml
htmlcov/
.venv/